@import '../../mixin.scss';
@import '../../variables.scss';
.header{
    width: 100%;
    background-color: $light-background;
    .container{
        width: $mobile;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 30px 0;
        h1{
            @include font(14px,800,20px, null, left);
            color: $light-color;
        }
        span{
            display: flex;
            align-items: center;
            gap: 8px;
            img{
                width: 16px;
                height: 16px;
            }
            p{
                @include font(12px,600,16.37px, null, left);
                color: $light-color;
            }
        }
    }
}
.headerDark{
    background-color: $dark-background;
    .container{
        h1{
            color: $dark-color;
        }
        span{
            p{
                color: $dark-color;
            }
        }
    }
}

@media (min-width:$desktop-size) {
    .header{
        .container{
            width: $desktop;
            padding: 23px 0 24px 0;
            h1{
                @include font(24px,800,32.74px, null, left);
            }
            span{
                img{
                    width: 20px;
                    height: 20px;
                }
                p{
                    @include font(16px,600,21.82px, null, left);
                }
            }
        }
    }
}