@import './mixin.scss';
$light-background: #FFFFFF;
$light-background-2: #FAFAFA;
$light-color: #111517;
$light-color-2: #C4C4C4;
$dark-background: #2B3844;
$dark-background-2: #202C36;
$dark-color: #FFFFFF;
$desktop-size: 1440px;
$mobile: 91.46666666666667%;
$desktop: 1280px;